@{
    ViewBag.Title = "Index";
}

<h2>Maintenace</h2>

<br />
<h3>Workflow Menus</h3>
@Html.ActionLink("Compliance Types", "../complianceTypes") |
<br />
@Html.ActionLink("Compliance Items", "../complianceItems") |
<br />
<h3>Staff</h3>
@Html.ActionLink("Staff Types", "../stafftypes") |
